# Base Rate Method

## Objectives

In this part, we will just try the base rate approach to know where we start from. 
We will also try to guess the distribution of the answer sheet. Even If we suspect having 17% for each level.

## Inports

In [1]:
import pandas as pd

c:\Users\castr\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
training = pd.read_csv('training_data.csv')
training.head(1)

   id                                           sentence difficulty
0   0  Les coûts kilométriques réels peuvent diverger...         C1

In [3]:
unlabel = pd.read_csv('unlabelled_test_data.csv')
unlabel.head(1)

   id                                           sentence
0   0  Nous dûmes nous excuser des propos que nous eû...

In [4]:
example = pd.read_csv('sample_submission.csv')

display(example.head(1))
display(example.shape)

   id difficulty
0   0         A1

(1200, 2)

## Base Rate

In [5]:
# Let's see the values that are possible in the training set

list_values = training.difficulty.unique().tolist()
display(list_values)

#Calculate the base rate for each
total = 0
max = 0
best = 0
for value in list_values: 
    base_rate  = training[training['difficulty']== value].shape[0] / training.shape[0]
    print(f'The base rate of the level {value} is {base_rate}')
    total += base_rate
    if base_rate > max: 
        max = base_rate
        best = value
print(f'The toal of base rates is {total}')
print(f'The maximum base rate is {max} for the level {best}')

['C1', 'A1', 'B1', 'A2', 'B2', 'C2']

The base rate of the level C1 is 0.16625
The base rate of the level A1 is 0.169375
The base rate of the level B1 is 0.165625
The base rate of the level A2 is 0.165625
The base rate of the level B2 is 0.165
The base rate of the level C2 is 0.168125
The toal of base rates is 1.0
The maximum base rate is 0.169375 for the level A1

### CSV for the best base rate

In [6]:
# The most proiminent class is A1, so we try it first
base_rate_kagle = unlabel.copy()
base_rate_kagle['difficulty'] = 'A1'
display(base_rate_kagle.head(1))
base_rate_kagle[['id', 'difficulty']].to_csv('Base_rate.csv', index=False)

   id                                           sentence difficulty
0   0  Nous dûmes nous excuser des propos que nous eû...         A1

In [15]:
base_rate_csv = pd.read_csv('Base_rate.csv')
base_rate_csv

        id                                           sentence difficulty
0        0  Nous dûmes nous excuser des propos que nous eû...         A1
1        1  Vous ne pouvez pas savoir le plaisir que j'ai ...         A1
2        2  Et, paradoxalement, boire froid n'est pas la b...         A1
3        3  Ce n'est pas étonnant, car c'est une saison my...         A1
4        4  Le corps de Golo lui-même, d'une essence aussi...         A1
...    ...                                                ...        ...
1195  1195  C'est un phénomène qui trouve une accélération...         A1
1196  1196  Je vais parler au serveur et voir si on peut d...         A1
1197  1197  Il n'était pas comme tant de gens qui par pare...         A1
1198  1198      Ils deviennent dangereux pour notre économie.         A1
1199  1199  Son succès a généré beaucoup de réactions néga...         A1

[1200 rows x 3 columns]

## CSV for each level to get the distribution

In [7]:
for value in list_values: 
    base_rate_kagle = unlabel.copy()
    base_rate_kagle['difficulty'] = value
    # Create a dynamic file name based on the value
    filename = f'Base_rate_{value}.csv'
    base_rate_kagle[['id', 'difficulty']].to_csv( filename , index=False)